#components-layout-demo-top .logo {
  width: 120px;
  height: 31px;
  background: rgba(255, 255, 255, 0.2);
  margin: 16px 24px 16px 0;
  float: left;
}
.container-character-page{
  display: flex;

}
body{
  margin: 0;
}
.left-side-character-page{
  width: 500px;
  margin-right: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
}
.right-side-character-page{
  width: 100%;
  padding: 50px 30px 30px 60px;
}
.character-page-img{
  width: 90%;
}
.right-side-character-page-span{
  display: block;
  margin: 10px;
  font-size: 20px;
}
.div-episodes{
  background: #fff;
  padding: 24px;
  min-height: 280px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.quiz-div{
  display: flex;
  flex-direction: column;
  align-content: space-between;
}
.div-button{
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
}
.quiz-main-button-div{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
